#title{
    color: green;
}

#form{
    width: 50%;
    background-color: bisque;
    color: grey;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 3rem;
}

.form-item{
    margin-bottom: 2rem;
}

.form-item label{
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}

.form-item input, textarea{
    padding: 1rem;
    width: 100%;
    color: grey;
    font-size: 1.5rem;
}

textarea{
    height: 12.5rem;
    font-family: inherit;
    resize: none;
}

/*TODO revoir taille de l'encadré message et nb de caractères maxi*/

#btn{
    background-color: orange;
    color: #1e2337;
    border: none;
    padding: 2rem;
    width: 100%;
    margin-top: 2rem;
    font-weight: 900;
    text-transform: uppercase;
}

.error{
    margin-top: 5px;
    color: red;
}

.invisible{
    display: none;
}