h1{
color: #c31365;
font-size: 1rem;


}
body{
font-family: cursive;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: blueviolet;
}

.cookies{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    opacity: 1;
}

.cookies-btn{
    display: flex;
}

.btn{
    color: white;
    padding: 1rem;
    border: none;
    border-radius: 10px;
}

.btn-success{
    background-color: #1E2337;
}

.btn-deny{
    background-color: grey;
}
