h1{
color: #c31365;
font-size: 1rem;


}
body{
font-family: cursive;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: blueviolet;
}
