body {
    color: #777;
}

.container {
    background-color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.btn {
    border: none;
    color: white;
    padding: 1rem;
    margin: 2rem;
    background-color: green;
}

.container-notifications {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 3rem;
    font-size: 1.2rem;
}

.toast {
    padding: 1rem;
    margin: 1rem;
    border: 2px solid green;
    }

