.container{
    min-height: 100vh;
    padding-top: 1rem;
    background: url(./asset/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2rem 0 ;
    margin: 0 20rem;
    background: linear-gradient(to bottom, #B7D7E6, #DEE6E8) ;
    border-radius: 40px;
}
#form{
    display: flex;
    align-items: center;
    justify-content: center;
}


.field{
    margin: 1rem;
}

.field select, input[type=date]{
    height: 6rem;
    width: 20rem;
    font-family: Arial, Helvetica, sans-serif;
}

button{
    width: 4rem;
    height: 4rem;
    border: 1px solid white;
    border-radius: 50%;
    background-color: #e1a028;
    color: white;
}

.result-list{
  display: flex;
  justify-content: center;
}

.item{
    background-color: rgba(255, 255, 255, 0.724);
    text-align: center;
    align-items: center;
    color: black;
    margin: 2rem;
    padding: 2rem;
    border-radius: 5px;
}

.item-country{
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}