#todo-list{
    background-color: white;
    color: #1e2337;
    width: 50%;
    padding: 4rem;
}
#form{
    display: flex;
}

button{
    border: none;
    width: 4rem;
    height: 4rem;
}

todo-list input{
    width: 100%;
    color: rgb(44, 43, 43);
    font-size: 2rem;
    border: 1px solid grey;
    padding: 1rem;
    border: 1px dashed rgb(105, 19, 105);
    border-width: 8px 8px 1px 0px;
}