/*Fiche produit*/
.product-container {
    width: 100%;
    background-color: white;
    color: grey;
    display: flex;
}

/*produit image*/
.product-img {
    flex: 1;
}

/*gérer dimentions  de full-img*/
.full-img-container {
    width: 100%;
    overflow: hidden;
}

#full {
    max-width: 100%;
    height: auto;
}

/*gérer dimentions et postionnement des thumbnail-img*/
.thumbnail-img-container {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

.small {
    flex: 1;
    width: 30%;
    display: block;
}


/*produit infos*/
.product-infos {
    flex: 1;
    padding: 2rem;
}

.product-infos h1 {
    font-size: 4rem;
}

.product-price {
    font-size: 3rem;
    margin: 2rem 0;
}

.descrition {
    font-size: 2rem;
}

.btn-add {
    background-color: hsl(0, 16%, 72%);
    color: green;
    padding: 2rem;
    outline: none;
    border: none;
    margin: 2rem 0;
}

.btn-add h3 {
    color: white;
    padding: 0.5rem 0;
}

@media screen and (max-width: 700px) {
   
    .product-container{
        flex-direction: column;
    }
    .product-img, .product-infos{
        width: 100%;
    }
    .product-infos h1, .product-price{
        text-align: center;
    } 

}