.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1e2337;
}

.part2 {
    background-color: orange;
}

.part3 {
    background-color: orangered;
}

/*Modal*/
.modal-container {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(136, 222, 136, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-details {
    background-color: white;
    width: 50%;
    text-align: center;
    position: relative;
    padding: 3rem;
    color: #1e2337;
}

.modal-details i {
    position: absolute;
    top: -2px;
    right: -2px;
    font-size: 2rem;
    padding: 1rem;
    color: grey;
}

/*Le titre*/
.modal-title {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 1rem;
}

/*Le code*/
.code {
    background-color: black;
    color: white;
    font-family: monospace;
    padding: 1rem;
}

/*Le bouton*/
.btn-success {
    height: 4rem;
    background-color: rgb(231, 171, 136, 61);
    color: white;
    padding: 1rem;
    border: none;
    width: 100%;
}
