.container{
    background-color: #2c3c54;
}

.container-change {
    background-color: #cbe6ff;
}
.switch{
    width: 90px;
    height: 30px;
    background-color: #1e2939;
    border-radius: 15%;
    position: relative;
    border: 1px;
    padding: 1rem;
}

.switch i{
    position: absolute;
    color: #ffd363;
    top: 6px;
    right: 23px;
}

.switch-change {
    background-color: #61b3ff;
    border: #61b3ff;
}
.btn{
    width: 30px;
    height: 30px;
    border-radius: 30%;
    background-color: white;
    position: absolute;
    top: -1px;
    left: -1px;
}

.btn-change {
    right: -1px;
    left: auto;
}

.icon-change {
    left: 20px;
}

.h1{
    color: bisque;
}