body {
    background-color: beige;
}

.banner-title {
    display: flex;
    justify-content: center;
align-items: center;
}

.posts{
    max-width: 900px;
    margin: 0 auto;
    padding: 1rem;
}

.post{
    background-color: rgb(237, 214, 214);
    margin: 1rem;
    padding: 1.5rem;
}
h2{
    color: brown;
    padding-bottom: 1rem;
}
p{
    font-style: italic;
    font-size: 1.5rem;
}

span{
    display: block;
    font-weight: bold;
    text-align: right;
    padding-top: 0.5rem;
    

}